.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button {
    cursor: pointer;
    color: white;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
    &.active {
      background-color: #0a3785;
      &.active {
        background-color: #0a3785;
        color: #fff;
      }
    }
  }
  span {
    margin: 0 2px;
    padding: 6px;
  }
}
