@import '~@lumx/core/scss/lumx.scss';

.pagination {
  margin-top: $lumx-spacing-unit-big;

  button {
    cursor: pointer;
    color: white;
    margin: $lumx-spacing-unit-tiny;
    height: $lumx-size-m;
    width: $lumx-size-m;
    border-radius: 50%;
    transition: background-color 0.3s;
    &.active {
      background-color: $lumx-color-red-N;
      &.active {
        background-color: $lumx-color-red-N;
        color: $lumx-color-light-N;
      }
    }
  }
  span {
    margin: $lumx-spacing-unit-tiny;
    padding: $lumx-spacing-unit-regular;
  }
}
