.header {
  background-color: lumx-color-variant('primary', 'N');
}
.header-flex {
  display: flex;
  justify-content: space-Around;
  align-items: center;
  width: 100%;
}

.header-logo {
  height: 60px;
}
