.character-card {
  display: flex;
  border: 2px solid #245be7;
  padding: 25px;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #fff;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
@media (max-width: 610px) {
  .character-card {
    flex: 0 0 280px;
  }
}
.character-thumbnail {
  flex: 0 0 200px;
  height: 140px;
  overflow: hidden;
  margin-right: 20px;
}

.character-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
}

.character-thumbnail:hover img {
  transform: scale(1.2); /* Zoom in on hover */
}

.character-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.character-title {
  margin: 0;
  font-size: 1.5em;
}

.character-description {
  margin: 10px 0;
}

.lumx-chip-group {
  margin-top: 10px;
}
