@import '~@lumx/core/scss/lumx.scss';

.character-card {
  border: 2px solid $lumx-color-blue-D1;
  padding: $lumx-size-xs calc($lumx-size-m - 6px);
  margin-top: $lumx-size-xxs;
  border-radius: 6px;
  background-color: $lumx-color-light-N;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  word-break: break-all;
}
@media (max-width: 800px) {
  .character-card {
    flex: 2;
    word-break: break-all;
    overflow: scroll;
  }
}
.character-thumbnail {
  flex: 0 0 calc($lumx-size-xxl - 55px);
  height: calc($lumx-size-xl + 52px);
  overflow: hidden;
  margin-right: $lumx-size-xs;
}

.character-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.character-thumbnail:hover img {
  transform: scale(1.2);
}

.character-title {
  margin: 0;
  font-size: $lumx-size-s;
}

.character-description {
  margin: $lumx-size-xxs 0;
}

.lumx-chip-group {
  margin-top: $lumx-size-xxs;
}

.span {
  font-weight: bold;
}
