@import '~@lumx/core/scss/lumx.scss';

.search-field {
  width: 100%;
  max-width: calc($lumx-size-xxl + $lumx-size-m);
  margin: 2px;
  background-color: $lumx-color-light-N;
  text-align: center;
  border-radius: 4px;
}
