.home-page {
  background: linear-gradient(to right, #97c7e9, #edddda, #eeeede);
}

.homepage-text {
  padding: 50px;
  text-align: center;
  animation: move 2s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
