.home-page {
  background: linear-gradient(to right, #97c7e9, #edddda, #eeeede);
  height: auto;
}

.query {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-text {
  color: #df2a4b;
  animation: move 1s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
