@import '~@lumx/core/scss/lumx.scss';

.home-page {
  background: linear-gradient(to right, #97c7e9, #edddda, #eeeede);
}

.homepage-text {
  padding: calc(2 * $lumx-spacing-unit-huge);
  height: 100vh;
  text-align: center;
  animation: move 2s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY($lumx-size-xxs);
  }
}
